#cbedd# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 9ff756067b8f      #c738b7939d76                      #2e1ecfe99ae6                   #c738b7939d76  

[temperature_sensor EBB42]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

# [probe_eddy_ng btt_eddy]
# sensor_type: ldc1612
# i2c_mcu: EBBCan # MCU name of the actual board connected to Eddy Coil
# #i2c_bus: i2c3_PB3_PB4 # I2C bus actually connected to Eddy Coil
# i2c_software_scl_pin: EBBCan: PB4
# i2c_software_sda_pin: EBBCan: PB3
# i2c_address: 42 # Ensure this is the correct device address
# x_offset: 0
# y_offset: 21.42  # CAD 23.168

# lift_speed: 25

[tmc2209 extruder]
uart_pin: EBBCan: PA15  #PD3
run_current: 0.65
stealthchop_threshold: 0

[fan]
pin: EBBCan:PA0
max_power: 1.0

[heater_fan hotend_fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 60.0

[neopixel toolhead]
pin: EBBCan: PD3
chain_count: 3
color_order: GRB
initial_RED: 0.4
initial_GREEN: 0.8
initial_BLUE: 1
initial_WHITE: 0.0

