############################################################################
############################  Start Print   ################################
############################################################################

[gcode_macro START_PRINT]
description: Phased start-print macro for Orca Slicer with adaptive mesh & purge
variable_state: "Prepare"
gcode:
    {% set BED = params.BED|default(60)|int %}
    {% set EXTRUDER = params.EXTRUDER|default(200)|int %}

    {action_respond_info("START_PRINT: Starting print in phased mode...")}

    _PRINT_START_PHASE_INIT BED={BED} EXTRUDER={EXTRUDER}
    _PRINT_START_PHASE_PREHEAT BED={BED} EXTRUDER=160
    _PRINT_START_PHASE_LEVEL BED={BED}
    _PRINT_START_PHASE_POSITION
    _PRINT_START_PHASE_PURGE_EXTRUDER EXTRUDER={EXTRUDER}

    # Optional tuning AFTER purge
     SET_VELOCITY_LIMIT VELOCITY=400 ACCEL=3500 SQUARE_CORNER_VELOCITY=5.0

[gcode_macro _PRINT_START_PHASE_INIT]
gcode:
    {% set BED = params.BED|int %}
    {% set EXTRUDER = params.EXTRUDER|int %}

    {action_respond_info("Phase: INIT - clearing pause and starting bed heat")}
    CLEAR_PAUSE
    M107
    G90
    M83
    G92 E0

    M140 S{BED}
    M104 S0

    BED_MESH_CLEAR

    {action_respond_info("Phase: INIT complete")}

[gcode_macro _PRINT_START_PHASE_PREHEAT]
gcode:
    {% set BED = params.BED|int %}

    {action_respond_info("Phase: PREHEAT - homing")}
    G28

    M117 Heating bed...
    M190 S{BED}

    M117 Preheating nozzle...
    M104 S160

    {action_respond_info("Phase: PREHEAT complete")}

[gcode_macro _PRINT_START_PHASE_LEVEL]
gcode:
    {% set BED = params.BED|int %}

    {action_respond_info("Phase: LEVEL - adaptive mesh")}

    M117 Adaptive Mesh...

    BED_MESH_CALIBRATE ADAPTIVE=1

    {action_respond_info("Phase: LEVEL complete")}

[gcode_macro _PRINT_START_PHASE_POSITION]
gcode:
    {action_respond_info("Phase: POSITION - purge move")}

    G90
    G92 E0
    G1 X205 Y2 F6000
    G1 Z0.6 F3000

[gcode_macro _PRINT_START_PHASE_PURGE_EXTRUDER]
gcode:
    {% set EXTRUDER = params.EXTRUDER|int %}

    {action_respond_info("Phase: PURGE - heating nozzle final")}

    M109 S{EXTRUDER}

    M117 Purging...

    G1 Z0.40 F1000   #war Z0.28

    G1 X95 Y2 E12 F1000
    G1 Y2.4 F5000
    G1 X205 Y2.4 E12 F1000

    G92 E0
    G1 E-0.8 F2400
    G1 Z1 F3000

    M117 Printing...
    {action_respond_info("Phase: PURGE complete")}

############################################################################
############################   End Print    ################################
############################################################################  

[gcode_macro PRINT_END]
description: End the print and park the toolhead
gcode:
    M117 Print Ending...

    # Z Sicherheit
    G91
    G1 Z5 F300
    G90

    # Parkposition
    PARK

    # Heizer ausschalten
    M104 S0
    M140 S0
    M106 S0

    # Optional: Bett in Ruhe lassen
    M117 Cooling...

    SET_VELOCITY_LIMIT VELOCITY=400 ACCEL=3500 SQUARE_CORNER_VELOCITY=5.0

############################################################################
#############################   Override  ##################################
############################################################################


[homing_override]
gcode:   
	G28 X
	G28 Y
	G1 X150 Y180 F3000
	G28 Z                      ; do the coarse home
    G90                        ; set absolute positioning
    G0 Z2 F1000                ; to 2mm -- home height (or whatever you'd like), for maximum sensor accuracy
    G4 S1                      ; chill for a sec
    M400                       ; wait for move to finish
	PROBE METHOD=tap
    PROBE_EDDY_NG_PROBE_STATIC HOME_Z=1 ; read the current exact height from sensor and home Z to it
    G0 Z5 F1000 ; to 5mm as home



############################################################################
##############   Park - Cancel - Resume - Paus Print    ####################
############################################################################  

[gcode_macro CANCEL_PRINT]
description: Cancel the current print
gcode:
    M117 Cancelling...

    # Z Sicherheit
    G91
    G1 Z10 F300
    G90

    # Parken
    PARK

    # Alles ausschalten
    M104 S0
    M140 S0
    M106 S0

    CLEAR_PAUSE
    M84

    M117 Print cancelled

     # Deine gewünschte Zeile:
    SET_VELOCITY_LIMIT VELOCITY=400 ACCEL=3500 SQUARE_CORNER_VELOCITY=5.0

[gcode_macro PAUSE]
description: Pause the current print
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state

    M117 Pausing...

    G91
    G1 E-2 F2100      ; kleiner Retract
    G1 Z10 F300       ; Z hoch
    G90

    PARK

[gcode_macro RESUME]
description: Resume the paused print
gcode:
    M117 Resuming...

    # Filament wieder rein
    G91
    G1 E2 F2100
    G90

    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1

############################################################################
#############################   Mouvments   ################################
############################################################################

[gcode_macro SMARTHOME]
gcode:
    {% if printer.toolhead.homed_axes == "xyz" %}
    {% else %}
        G28
    {% endif %}

[gcode_macro MOVE_TO_NEUTRAL_POSITION]
gcode:
  g90; set to absolute positioning
  SMARTHOME
  g1 x155 y160 f9000
  g1 z150 f3000

[gcode_macro PARK]
description: Park the toolhead in the back-right corner
gcode:
    # Anheben für Sicherheit
    G91
    G1 Z5 F300
    G90

    # Parkposition hinten links
    G1 X10 Y320 F6000

############################################################################
############################### Z Stepper   ################################
############################################################################

[gcode_macro LOCK_Z_STEPPERS]
gcode:
  SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=1

[gcode_macro UN_LOCK_Z_STEPPERS]
gcode:
  SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=0  
  
############################################################################
###############################   PID    ###################################
############################################################################

[gcode_macro PID_EXTRUDER]
gcode:
 M106 S255
 {% set TARGET_TEMP = params.TARGET_TEMP|default(210)|float %} 
 PID_CALIBRATE HEATER=extruder TARGET={TARGET_TEMP}

[gcode_macro PID_BED]
gcode:
 {%set TARGET_TEMP = params.TARGET_TEMP|default(60)|float %}
 PID_CALIBRATE HEATER=heater_bed TARGET={TARGET_TEMP}

############################################################################
############################### Bett Macros ################################
############################################################################

[gcode_macro BED_LEVEL]
gcode:
  G28
  SCREWS_TILT_CALCULATE 

#[gcode_macro PRE_PRINT_ADAPTIVE_MESH]
#gcode:
  #BED_MESH_CALIBRATE ADAPTIVE=1 ADAPTIVE_MARGIN=5

############################################################################
###############################  Filamant   ################################
############################################################################

[gcode_macro FILAMENT_UNLOAD]
gcode:
 MOVE_TO_NEUTRAL_POSITION
 M109 S220
 M83
 G92 E0.0
 G1 E-100 F500
 G92 E0.0
 M82

[gcode_macro FILAMENT_LOAD]
gcode:
 MOVE_TO_NEUTRAL_POSITION
 M109 S220
 M83
 G92 E0.0
 G1 E125 F150
 G1 E-3 F2400
 G92 E0.0
 M82

############################################################################
############################### EDDY Macros ################################
############################################################################

# Uncomment this if you are using Eddy as the probe AND the homing endstop AND would like to use the beta z-offset control
[save_variables]
filename: ~/printer_data/config/variables.cfg


[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BED_MESH_CALIBRATE_BASE
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}

    {action_respond_info("Check Heating!")}
    {% if printer.heater_bed.temperature != BED_TEMP %}
        M140 S{BED_TEMP}
        {action_respond_info("The bed target temperature was not reached!")}
        {action_respond_info("Bed heating...")}
        M190 S{BED_TEMP}
    {% endif %}

    {% if printer.toolhead.homed_axes|lower != "xyz" %}
        G28
    {% endif %}

    BED_MESH_CLEAR
    
    BED_MESH_CALIBRATE_BASE ADAPTIVE=1  #BED_MESH_CALIBRATE_BASE

    {% if printer.heater_bed.target == 0 %}
        M140 S0  
    {% endif %}


#This macro is optional but useful if you want to run a rapid scan before each print. Simply uncomment it and add BED_MESH_SCAN to your print start code.
[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BTT_BED_MESH_CALIBRATE
gcode:
  #SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=True #Only uncomment this line if using a KNOMI and then remove the BED_MESH_CALIBRATE macro from KNOMI.cfg
  BTT_BED_MESH_CALIBRATE ADAPTIVE=1 METHOD=rapid_scan
  #SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=False #Only uncomment this line if using a KNOMI and then remove the BED_MESH_CALIBRATE macro from KNOMI.cfg


  ## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
gcode:
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 300.0 ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 20.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 1.0  ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
#gcode: