# This file contains common pin mappings for the BIGTREETECH Manta M5P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD0/PD1)".

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include EBB42.cfg]
[include Eddy.cfg]
[include macros.cfg]
[exclude_object]


[mcu]
#serial: /dev/serial/by-id/<your-mcu-id>
canbus_uuid: 779e210ab0b0

#[mcu CB1]
#serial: /tmp/klipper_host_mcu

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[force_move]
enable_force_move: True

[idle_timeout]
timeout: 3600

[neopixel toolhead test]
pin: PC11
chain_count: 10
color_order: GRB
initial_RED: 0.4
initial_GREEN: 0.8
initial_BLUE: 1
initial_WHITE: 0.0

[printer]
kinematics: corexz
max_velocity: 400
max_accel: 2000
max_z_velocity: 50
max_z_accel: 500
square_corner_velocity: 5.0

[stepper_x]
step_pin: PC8
dir_pin: PC9  
enable_pin: !PA15
microsteps: 16
rotation_distance: 40
endstop_pin: EBBCan: PB8
position_endstop: 0 
position_min: 0
homing_positive_dir: false
position_max: 310
homing_speed: 70
homing_retract_dist: 2
second_homing_speed: 5

[tmc2209 stepper_x]
uart_pin: PD9
run_current: 0.800
hold_current: 0.500
interpolate: true
sense_resistor: 0.110
stealthchop_threshold: 999999    #stealthchop_threshold: 0 fir vitesse an tuning

[stepper_y]
step_pin: PC6
dir_pin: !PC7  
enable_pin: !PA9
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PC3
position_min: -21.42  
position_endstop: 0  
homing_positive_dir: false  

position_max: 320
homing_speed: 70
homing_retract_dist: 2
second_homing_speed: 5

[tmc2209 stepper_y]
uart_pin: PB10
run_current: 0.800
hold_current: 0.500
interpolate: true
sense_resistor: 0.110
stealthchop_threshold: 999999    #stealthchop_threshold: 0 fir vitesse an tuning

[stepper_z]
step_pin: PA10
dir_pin: PA14  
enable_pin: !PA13
microsteps: 16
rotation_distance: 40
#probe: z_virtual_endstop   
position_endstop: 0    ################################ weg maachen fir eddy
endstop_pin: PC13
position_max: 330
position_min: -5
homing_speed: 10
homing_retract_dist: 3
second_homing_speed: 5


[tmc2209 stepper_z]
uart_pin: PD8
run_current: 0.800
hold_current: 0.500
interpolate: true
sense_resistor: 0.110
stealthchop_threshold: 999999    #stealthchop_threshold: 0 fir vitesse an tuning

[heater_bed]
heater_pin: PA5
sensor_pin: PA0 
sensor_type: ATC Semitec 104GT-2
#control: watermark
min_temp: 0
max_temp: 110

[extruder]
step_pin: EBBCan: PD0  #PE6
dir_pin: EBBCan: PD1  #PA14 
enable_pin: !EBBCan: PD2  #!PE0 #
microsteps: 16
rotation_distance: 5.64
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan: PA3
max_extrude_only_distance: 600
max_extrude_cross_section: 50.0
min_temp: 0
min_extrude_temp: 0
max_temp: 300
nozzle_diameter: 0.4
filament_diameter: 1.75
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982

[bed_mesh]
speed: 100
horizontal_move_z: 3
mesh_min: 10,35
mesh_max: 300,320
probe_count: 15,15
adaptive_margin: 5
fade_start: 0
fade_end: 5
fade_target: 0
mesh_pps: 2,2
algorithm: bicubic

[screws_tilt_adjust]
screw1_name: front right screw
screw1: 250, 40
screw2_name: front left screw
screw2: 50, 40
screw3_name: rear left screw
screw3: 50, 240
screw4_name: rear right screw
screw4: 250, 240
horizontal_move_z: 10
speed: 250
screw_thread: CW-M3

[temperature_fan CB1]
sensor_type: temperature_host   #This is what the Pi3's Temperature sensor is known as.
pin: PA4                 #Set this to your fan pin
max_temp: 82.0                  #Set below 85C, Pi3+ MCU can be damaged at 85C
target_temp: 60.0               #Set this to your preferred running temperature
min_temp: 0
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.19
max_speed: 1.0
min_speed: 0.45
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0

[temperature_fan Stepper]
sensor_type: Generic 3950
sensor_pin: PA2
pin: PA3
max_temp: 90.0                #Set below 85C, Pi3+ MCU can be damaged at 85C
target_temp: 65.0             #Set this to your preferred running temperature
min_temp: 0
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.19
max_speed: 1.0
min_speed: 0.3
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0

[include shell_command.cfg]
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.229051, 0.175441, 0.173087, 0.185885, 0.134940, 0.117163, 0.069916, 0.094040, 0.122233, 0.110683, 0.169334, 0.205069
#*# 	0.323477, 0.245851, 0.214804, 0.202887, 0.129957, 0.118632, 0.080713, 0.097376, 0.139924, 0.150357, 0.196215, 0.247146
#*# 	0.257724, 0.168350, 0.173666, 0.144907, 0.084661, 0.089060, 0.074939, 0.103243, 0.142772, 0.178164, 0.255828, 0.271603
#*# 	0.222650, 0.162049, 0.153559, 0.148773, 0.091114, 0.086521, 0.060508, 0.090468, 0.134940, 0.153290, 0.205037, 0.266364
#*# 	0.186850, 0.112698, 0.120006, 0.100944, 0.071734, 0.073742, 0.071586, 0.110150, 0.154766, 0.180144, 0.268876, 0.310931
#*# 	0.180983, 0.140036, 0.147399, 0.137432, 0.093087, 0.096343, 0.064202, 0.095061, 0.137432, 0.156729, 0.214824, 0.287572
#*# 	0.173487, 0.105545, 0.117258, 0.101843, 0.076766, 0.086837, 0.079992, 0.115031, 0.160988, 0.199645, 0.278711, 0.323057
#*# 	0.191150, 0.156955, 0.154857, 0.154766, 0.112698, 0.119296, 0.083185, 0.115031, 0.157936, 0.178706, 0.237434, 0.317342
#*# 	0.209539, 0.139924, 0.154540, 0.147043, 0.092392, 0.107659, 0.104516, 0.132448, 0.174960, 0.211910, 0.300948, 0.346264
#*# 	0.224786, 0.186554, 0.199551, 0.181810, 0.127469, 0.123707, 0.096343, 0.113027, 0.149891, 0.170176, 0.232949, 0.311550
#*# 	0.222650, 0.144907, 0.155748, 0.144907, 0.099295, 0.113727, 0.085867, 0.115759, 0.144907, 0.184700, 0.282166, 0.301792
#*# 	0.207388, 0.146102, 0.151315, 0.129957, 0.073747, 0.074099, 0.024483, 0.033682, 0.057324, 0.071574, 0.129964, 0.226761
#*# x_count = 12
#*# y_count = 12
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 284.94
#*# min_y = -20.0
#*# max_y = 259.94999999999993
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 60.788
#*# pid_ki = 1.948
#*# pid_kd = 474.144
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 41.741
#*# pid_ki = 4.348
#*# pid_kd = 100.179
#*#
#*# 
